
.idea
*.plist
Learn02/main.dSYM/Contents/Resources/DWARF/main
Learn02/.vscode/launch.json
Learn02/.vscode/tasks.json
Learn02/main
Learn03/main.exe
Learn03/.vscode/tasks.json
Learn03/.vscode/c_cpp_properties.json
Learn03/main.exe
